<style>

</style>

<div class="page-width product-slider">
  <div class="product-slider-inner">
    <div class="slider-heading">
      <h2>{{ section.settings.title }}</h2>
    </div>
    <div class="slider-listing">
      {% assign get_products = collections[section.settings.collection].products %}
      {% for product in get_products %}
      	
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Product Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "New Arrivals"
      },
	  {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
	],
    "presets": [
       {
         "name": "Custom Product Slider"
	   }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
